.content{
    width: 90%;
    margin: 0 auto;

}

.title{
    padding-top: 30px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 120px;
    padding-top: 20px;
}

li{
    font-size: 30px;
}

@media screen and (max-width: 620px){
    ul{
        padding-left: 20px;
    }
    li{
        font-size: 25px;
    }
}